body{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.tick line{
    stroke: #ddd;
}

.x .tick line{
    stroke: #ddd;
}

.line{
    fill : none;
    stroke-width: 4;
}

#canvas1 {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}

li, #heading, svg{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#insights{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.loading-image {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 250px;
  height: 250px;
}
.sign{
  height: 12px;
  width: 14px;
}
